body {
    font-family: 'Arial', sans-serif;
    background-color: #121212;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    transition: background 0.7s ease;
}

.container {
    background-color: #1e1e1e;
    padding: 30px;
    border-radius: 12px;
    width: 400px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
    text-align: center;
    transition: box-shadow 0.5s ease;
}

h2 {
    margin-bottom: 20px;
    transition: color 0.5s ease;
}

input[type="text"] {
    width: 80%;
    padding: 10px 12px;
    border-radius: 6px;
    border: none;
    margin-bottom: 15px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

button:hover {
    transform: scale(1.05);
}

#playlist-description {
    margin-top: 15px;
    margin-bottom: 10px;
    font-weight: bold;
    transition: color 0.5s ease;
}

iframe {
    border-radius: 12px;
    border: none;
    width: 100%;
    height: 380px;
    transition: box-shadow 0.5s ease;
}
